<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="stylesheets/style.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="theme-color" content="{{color}}">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>


    <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
    <script src="angular/angular.js"></script>
    <script src="javascripts/controller.js"></script>
</head>
<body ng-app="lightingApp" ng-controller="lightingCtrl">
<div class="container">
    <div class="row">
        <menu-item name="Items"></menu-item>
        <menu-item name="Rooms"></menu-item>
        <menu-item name="Channels"></menu-item>
        <menu-item name="Timers"></menu-item>
    </div>


    <item-list ng-show="menuItem == 'Items'"></item-list>
    <room-list ng-show="menuItem == 'Rooms'"></room-list>
    <channel-list ng-show="menuItem == 'Channels'"></channel-list>

</div>
</body>
</html>