<div class="jumbyotron">



    <div class="category card brown lighten-5">
        <div class="card-content">
            <div class="row">
                <div class="col s12 "><h4>Timers</h4></div>
            </div>
            <div class="row">

                <div class="col s12" >

                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="col s2">
                                    <h5>Day</h5>
                                </div>
                                <div class="col s1">
                                    <input type="checkbox" class="filled-in" id="newTimer-day-mon" checked="checked"/>
                                    <label for="newTimer-day-mon">M</label>
                                </div>
                                <div class="col s1">
                                    <input type="checkbox" class="filled-in" id="newTimer-day-tue" checked="checked"/>
                                    <label for="newTimer-day-tue">T</label>
                                </div>
                                <div class="col s1">
                                    <input type="checkbox" class="filled-in" id="newTimer-day-wed" checked="checked"/>
                                    <label for="newTimer-day-wed">W</label>
                                </div>
                                <div class="col s1">
                                    <input type="checkbox" class="filled-in" id="newTimer-day-thu" checked="checked"/>
                                    <label for="newTimer-day-thu">T</label>
                                </div>
                                <div class="col s1">
                                    <input type="checkbox" class="filled-in" id="newTimer-day-fri" checked="checked"/>
                                    <label for="newTimer-day-fri">F</label>
                                </div>
                                <div class="col s1">
                                    <input type="checkbox" class="filled-in" id="newTimer-day-sat" checked="checked"/>
                                    <label for="newTimer-day-sat">S</label>
                                </div>
                                <div class="col s1">
                                    <input type="checkbox" class="filled-in" id="newTimer-day-sun" checked="checked"/>
                                    <label for="newTimer-day-sun">S</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                                    <label for="first_name">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name" type="text" class="validate">
                                    <label for="last_name">Last Name</label>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>


</div>