<div class="timerCard">
    <div class="row">
        <div class="col-xs-3">
            <h5>Name</h5>
        </div>
        <div class="col-xs-5">
            <h4 ng-show="!i.editing">{{i.name}}</h4>
            <input type="text" ng-model="i.name" ng-show="i.editing"/>
        </div>
        <div class="col-xs-4">
            Edit
            <input type="checkbox" ng-model="i.editing"/>
        </div>
    </div>
    <div class="row dayList">
        <div class="col-xs-3">
            <h5>Days</h5>
        </div>
        <div class="col-xs-1">
            <input type="checkbox" class="filled-in" id="newTimer-day-mon" checked="checked" ng-model="i.monday" ng-show="i.editing"/>
            <label for="newTimer-day-mon" ng-class="{'active':i.monday}">M</label>
        </div>
        <div class="col-xs-1">
            <input type="checkbox" class="filled-in" id="newTimer-day-tue" checked="checked" ng-model="i.tuesday" ng-show="i.editing"/>
            <label for="newTimer-day-tue" ng-class="{'active':i.tuesday}">T</label>
        </div>
        <div class="col-xs-1">
            <input type="checkbox" class="filled-in" id="newTimer-day-wed" checked="checked" ng-model="i.wednesday" ng-show="i.editing"/>
            <label for="newTimer-day-wed" ng-class="{'active':i.wednesday}">W</label>
        </div>
        <div class="col-xs-1">
            <input type="checkbox" class="filled-in" id="newTimer-day-thu" checked="checked" ng-model="i.thursday" ng-show="i.editing"/>
            <label for="newTimer-day-thu" ng-class="{'active':i.thursday}">T</label>
        </div>
        <div class="col-xs-1">
            <input type="checkbox" class="filled-in" id="newTimer-day-fri" checked="checked" ng-model="i.friday" ng-show="i.editing"/>
            <label for="newTimer-day-fri" ng-class="{'active':i.friday}">F</label>
        </div>
        <div class="col-xs-1">
            <input type="checkbox" class="filled-in" id="newTimer-day-sat" checked="checked" ng-model="i.saturday" ng-show="i.editing"/>
            <label for="newTimer-day-sat" ng-class="{'active':i.saturday}">S</label>
        </div>
        <div class="col-xs-1">
            <input type="checkbox" class="filled-in" id="newTimer-day-sun" checked="checked" ng-model="i.sunday" ng-show="i.editing"/>
            <label for="newTimer-day-sun" ng-class="{'active':i.sunday}">S</label>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h5>Time</h5>
        </div>
        <div class="col-xs-1">
            <h4 ng-show="!i.editing">{{i.hours}}h</h4>
            <input class="input-small" type="number" ng-model="i.hours" ng-show="i.editing"/>
        </div>
        <div class="col-xs-1">
            <h4 ng-show="!i.editing">{{i.minutes}}m</h4>
            <input class="input-small" type="number" ng-model="i.minutes" ng-show="i.editing"/>
        </div>
        <div class="col-xs-7"></div>
    </div>
    <div class="row">
        <div class="col-xs-3"><h5>Actions</h5></div>
        <div class="col-md-9">

            {{items}}
            <div ng-repeat="item in items" style="float:left;border:1px solid red;">
                Include?<input type="checkbox" ng-change="addItemToTimer(item.channel, item.socket, item.action)"/>
                Action:<input type="checkbox" ng-model="item.action"/>
            </div>

            <hr/>
            <span ng-repeat="act in i.actions">
                {{act}}
                <span class="itemAction" ng-class="{'on':act.action==1}" ng-repeat="socket in getItemBySocket(act.channel, act.socket)">
                    {{socket.name}}
                </span>
            </span>

        </div>

    </div>

</div>
